<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
	id="WebApp_ID" version="6.0">
	<display-name>HelloServlet</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>HelloServlet</servlet-name>
		<servlet-class>vn.iotstar.HelloServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HelloServlet</servlet-name>
		<url-pattern>/xin-chao</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>RequestResponse</servlet-name>
		<servlet-class>vn.iotstar.RequestResponse</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RequestResponse</servlet-name>
		<url-pattern>/hi</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Refresh</servlet-name>
		<servlet-class>vn.iotstar.Refresh</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Refresh</servlet-name>
		<url-pattern>/Refresh</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ServletConfig</servlet-name>
		<servlet-class>vn.iotstar.ServletConfig</servlet-class>

		<init-param>
			<param-name>email</param-name>
			<param-value>anh@hcmute.edu.vn</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletConfig</servlet-name>
		<url-pattern>/check</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>ServletContext</servlet-name>
		<servlet-class>vn.iotstar.ServletContext</servlet-class>

		<init-param>
			<param-name>email</param-name>
			<param-value>anh@hcmute.edu.vn</param-value>
		</init-param>
	</servlet>
	<context-param>
		<param-name>sdt</param-name>
		<param-value>0938436525</param-value>
	</context-param>
	<servlet-mapping>
		<servlet-name>ServletContext</servlet-name>
		<url-pattern>/check1</url-pattern>
	</servlet-mapping>


</web-app>